<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>CVC Teste</title>

	<link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>
<body ng-app="pageApp">

	<section class="cars">
		<div class="container">
			<aside>
				<form>
					<fieldset>
						<div class="input-group">
							<label for="localRetirada">Local de retirada</label>
							<div class="input">
								<input type="text" name="localRetirada" id="localRetirada">
							</div>
						</div>
						<div class="input-group">
							<label for="outroLocal">
								<input type="checkbox" name="outroLocal" id="outroLocal"> <strong>Devolver o carro em outro local</strong>
							</label>
						</div>
						<div class="input-group">
							<label for="localDevolucao">Local de devolução</label>
							<div class="input">
								<input type="text" name="localDevolucao" id="localDevolucao">
							</div>
						</div>
						<div class="input-group">
							<label for="retirada">Retirada</label>
							<div class="input">
								<input type="text" name="retirada" id="retirada" class="date">
								<span class="select">
									<select name="horaRetirada" id="horaRetirada">
										<option value="">00:00</option>
										<option value="">01:00</option>
										<option value="">02:00</option>
										<option value="">03:00</option>
									</select>
								</span>
							</div>
						</div>
						<div class="input-group">
							<label for="devolucao">Devolução - 8 dia(s)</label>
							<div class="input">
								<input type="text" name="devolucao" id="devolucao" class="date">
								<span class="select">
									<select name="horaDevolucao" id="horaDevolucao">
										<option value="">00:00</option>
										<option value="">01:00</option>
										<option value="">02:00</option>
										<option value="">03:00</option>
									</select>
								</span>
							</div>
						</div>
						<div class="input-group">
							<p class="title">Economize até 35%</p>
							<div class="list-check">
								<label for="incluirVoo">
									<input type="checkbox" name="incluirVoo" id="incluirVoo"> Incluir voo
								</label>
								<label for="incluirHotel">
									<input type="checkbox" name="incluirHotel" id="incluirHotel"> Incluir hotel
								</label>
							</div>
						</div>
						<button class="btn" type="submit">Buscar</button>
					</fieldset>
				</form>
			</aside>
			<article>
				<div class="filter">
					<form>
						<fieldset>
							<div class="input-group">
								<label for="itens">Itens por página:</label>
								<span class="select">
									<select name="itens" id="itens" ng-model="selItens">
										<option value="">Selecione</option>
										<option value="1">1</option>
										<option value="2">2</option>
									</select>
								</span>
							</div>
							<div class="input-group">
								<label for="ordenar">Ordenar por:</label>
								<span class="select">
									<select name="ordenar" id="ordenar" ng-model="selPreco">
										<option value="">Selecione</option>
										<option ng-value="false" selected>Menor preço</option>
										<option ng-value="true">Maior preço</option>
									</select>
								</span>
							</div>
							<div class="input-group">
								<label for="moeda">Moeda:</label>
								<span class="select">
									<select name="moeda" id="moeda" ng-model="selMoeda">
										<option value="">Todos</option>
										<option value="Real">Real</option>
										<option value="Dólar">Dólar</option>
									</select>
								</span>
							</div>
						</fieldset>
					</form>
				</div>

				<div ng-controller="carsCtrl">
					<div class="item" ng-repeat="x in myData | limitTo: selItens | filter: selMoeda | orderBy:'precoatual':selPreco">
						<div class="infos" ng-controller="crtlDetail">
							<div class="info">
								<div class="img">
									<figure>
										<img src="assets/images/{{ x.imagem }}" alt="{{ x.modelo }}">
									</figure>
									<div class="logo"><img src="assets/images/{{ x.logoempresa }}" alt="{{ x.nomeempresa }}"></div>
									<span class="offer {{ x.oferta }}">
										desconto <strong>{{ x.ofertavalor }}</strong>
									</span>
								</div>
								<div class="text">
									<h2>{{ x.titulo }}</h2>
									<p>
										{{ x.texto }}
									</p>
									<ul>
										<li ng-repeat="x in myData2">{{ x.item }}</li>
									</ul>
									<div ng-controller="crtlFav"><a class="nav-favorite" ng-class="{'active' : toggleClass}" href ng-click="changeClass()">Favorito</a></div>
									<a class="open-detail" ng-class="{'active' : toggleClass}" href ng-click="openDetail()">{{textNav}}</a>
								</div>
							</div>
	
							<div class="detail" ng-show="showDetail">
								<p>
									{{ x.detalhe }}
								</p>
							</div>
	
							<div class="options">
								<ul>
									<li ng-repeat="x in myData3">
										<i class="icon {{ x.icon }}"></i> {{ x.texto }}
									</li>
								</ul>
							</div>
						</div>
						<div class="price">
							<h3>Total da locação</h3>
							<p class="old-price {{ x.precoantigo }}">de R$ {{ x.precoantigovalor }}</p>
							<p class="atual-price">
								por <strong>R$ <span>{{ x.precoatual }}</span></strong>
							</p>
							<p class="partial"><strong>em até 10x</strong></p>
							<div class="button">
								<a href="#" class="btn">Alugar</a>
							</div>
							<small>Taxas inclusas</small>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js" type="text/javascript"></script>
	<script src="assets/js/scripts.js" type="text/javascript"></script>
	
</body>
</html>
